<header class="discogs-embed-header">
  <h2>
    {{#each data.artists}}
      <a href="https://www.discogs.com/artist/{{id}}" target="_blank">{{name}}</a>
    {{/each}}
    - <span>{{data.title}}</span>
    <span class="year">{{data.year}}</span>
  </h2>
  <h3 class="media-info">
    {{data.country}} / 
    {{#if data.formats}}
      {{#each data.formats}}
        {{#each descriptions}}{{.}} {{/each}}
      {{/each}}
    {{/if}}
    {{#if data.labels}}
    / <a href="https://www.discogs.com/label/{{data.labels.[0].id}}" target="_blank">{{data.labels.[0].name}}</a> <span class="cat">({{data.labels.[0].catno}})</span>
    {{/if}}
  </h3>
</header>
<section class="row discogs-embed-body">
  <div class='col-sm-4'>
    <a href="https://www.discogs.com/release/{{data.id}}" target="_blank">
      <img src="{{#discogsImage data.images.[0].resource_url }}{{/discogsImage}}" class="img-responsive">
    </a>
  </div>
  <div class='col-sm-8 tracklist{{#isCollapsed data.tracklist}} collapsed{{/isCollapsed}}'>
    <ul class="list-unstyled{{#isCollapsed data.tracklist}} ellipsed{{/isCollapsed}}">
    {{#each data.tracklist}}
      {{#isTrack .}}
      <li class="track">
        <span class="position">{{position}}</span>
        {{#if artists}}
          {{#each artists}}<a href="https://www.discogs.com/artist/{{id}}" target="_blank">{{name}}</a>{{/each}}
          - 
        {{/if}}
        <span class="title">{{title}}</span>
        <span class="duration">{{duration}}</span>
      </li>
      {{else}}
      <li class="heading">{{title}}</li>
      {{/isTrack}}
    {{/each}}
    </ul>
    {{#isCollapsed data.tracklist}}
    <div class="more">
      <a href="#">
        <span class="more-label">more</span>
        <span class="less-label">less</span>
      </a>
    </div>
    {{/isCollapsed}}
  </div>
</section>
<footer class="discogs-embed-footer">
  <small>
    This data comes from <a href="https://www.discogs.com" target="_blank"><img src="http://s.pixogs.com/images/favicon.ico" alt="Discogs.com"> Discogs</a>. Found any error? Go edit <a href="https://www.discogs.com/release/{{data.id}}" target="_blank">the original entry</a>!
  </small>
</footer>